body {
    @apply bg-blue-100;
}

.App {
  font-family: sans-serif;
}

.top {
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  text-align: center;
  padding-bottom: 8px;
}

.title {
  font-size: 40px;
  padding: 2px;
}

.create-date {
  width: 500px;
  max-width: max-content;
}

.border {
  border-radius: 2px;
  border-color: rgb(137, 185, 247);
  padding: 3px;
}

.border.size {
  width: 400px;
  height: 150px;
}

.form {
  display: flexbox;
  flex-direction: column;
}

.submit {
  font-size: 20px;
  width: 400px;
  height: 40px;
  background-color: rgb(0, 136, 255);
  color: white;
  padding:3px 5px;
}

.padding-more {
  padding: 5px;
}

.dates-container {
  display: flexbox;
  flex-wrap: wrap;
  border-top: 2px solid rgb(177, 208, 249);
  padding-top: 10px;
}

.date {
  background-color: white;
}
